body {
  margin: 0;
  background: linear-gradient(to right, #020617, #020617);
  font-family: Segoe UI;
}

.app-container {
  max-width: 800px;
  margin: auto;
  padding: 40px;
  color: white;
}

.title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 25px;
}

.chat-box {
  background: #020617;
  padding: 20px;
  border-radius: 14px;
  min-height: 260px;
  margin-bottom: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,.4);
}

.assistant-message {
  font-size: 16px;
  line-height: 1.6;
  font-family: Calibri;
}

.loading {
  color: #38bdf8;
}

.input-wrapper {
  position: relative;
}

.input-box {
  width: 100%;
  height: 70px;
  border-radius: 12px;
  border: none;
  padding: 14px 50px 14px 14px;
  font-size: 15px;
  outline: none;
}

.send-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #2563eb;
}

.send-icon:hover {
  color: #1d4ed8;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.logo {
  color: #af4c4c;
}
